[submodule "exercise_Baiye959"]
	path = exercise_Baiye959
	url = https://github.com/Baiye959/exercise_Baiye959.git
[submodule "exercise_killera-real"]
	path = exercise_killera-real
	url = https://github.com/killera-real/exercise_killera-real.git
[submodule "exercise_orangeism"]
	path = exercise_orangeism
	url = https://github.com/orangeism/exercise_orangeism.git
[submodule "exercise_Lambchem.git"]
	path = exercise_Lambchem.git
	url = https://github.com/Lambchem/exercise_Lambchem.git
